$editor-constants: (
  FONT_WEIGHT_LIGHT: 300,
  FONT_WEIGHT_NORMAL: 400,
  FONT_WEIGHT_BOLD: 600,
  FONT_WEIGHT_EXTRABOLD: 700
);


/**
  * Accessor for Application constants.
  * @usage:
    var-get('color_header_bg');
  *
 */
@function getEditor($const) {
  @return map-get($editor-constants, $const)
}


$spacer: 1.4em !default;

$screen-sm-min: get(SCREEN_MIN);
$screen-sm-minor: map-get($grid-breakpoints, 'sm'); //544
$screen-sm: map-get($grid-breakpoints, 'md'); //768
$screen-md: map-get($grid-breakpoints, 'lg'); //992
$screen-lg: map-get($grid-breakpoints, 'xl'); //1200


$font-weight-bold: getEditor(FONT_WEIGHT_BOLD)
