.timeseries-pagination {
  margin-bottom: $spacer-y * 2;

  &__title,
  &__supp-title {
    display: block;
  }

  &__supp-title {
    font-size: $font-size-h5;
    margin-bottom: 10px;
  }
  &__title {
    font-size: $font-size-h2;
    margin-bottom: 12px;
  }

  .btn {
    min-width: 140px;
    text-align: center;
  }

  a:first-of-type {
    margin-right: $spacer-x;
  }
}
