<div class="sign-in">
  <div class="callout container">
    <div class="col-md-1">
      <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
    </div>
    <div class="col-md-11">
      <strong>Thanks. Your account has been created and verified.<br />
      You are now signed in.</strong>
    </div>
  </div>
  <p><%= link_to 'Continue to editor', editor_path, role: :button %></p>
</div>
