<div class="alert alert-success" role="alert">
  <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> <strong>Thanks. Your account has been created and verified.<br />
  You are now signed in.</strong>
</div>

<ul class="list-unstyled sub-link-list">
  <li><%= link_to 'Continue to editor', editor_path, role: :button, class: 'UIK-link' %></li>
</ul>
