<%
  #
  # client/src/editor/scripts/components/footer/footer.js:4
  #
%>
<div class="govau-footer">
  <div class="container">
    <div class="govau-footer__container">

      <div class="govau-footer__container__logo">
        <img src="<%= getPublicImageSrc('coat-of-arms.png') %>" width="185" height="135" alt="Commonwealth of Australia Coat of Arms Logo" />
      </div>

      <div class="govau-footer__container__utils">
        <div class="line-1">
          <a href="mailto:<%= ApplicationConstants::CONTACT_EMAIL %>" rel="external" class="UIK-button btn btn-secondary report-an-issue">Report an issue</a>
        </div>
        <div class="line-2">
          <small>© Commonwealth of Australia</small>
          <p class="small">This work is licensed under a Creative Commons Attribution 3.0 International <a href="https://creativecommons.org/licenses/by/3.0/au/deed.en" class="UIK-link " rel="external">License</a></p>
        </div>
      </div>

    </div>
  </div>
</div>
