<div class="govau-header-row" role="banner">
  <div class="wrapper">
    <header class="govau-masthead">
      <div class="row">
        <div class="banner col-sm-9">
        <div class="brand">
          <a href="/editor">
            <img src="<%= image_path('dashboardlogo.svg') %>" alt="Logo of GOV.AU Performance Editor"/>
          </a>
        </div>
        <!-- main-cta -->
      </div>
        <div class="col-sm-3">
          <%= render 'layouts/account' %>
        </div>
      </div>
      <!-- banner -->
    </header>
  </div>
</div>
