<div class="govau-header-row" role="banner">
  <div class="wrapper">
    <header class="govau-masthead">
      <div class="row">
        <% if !Rails.env.production? && current_user.present? -%>
          <div class="banner col-xs-6 col-sm-9">
            <div class="brand">
              <a href="/editor">
                <img src="<%= image_path('dashboardlogo.svg') %>" alt="Logo of GOV.AU Performance Editor"/>
              </a>
            </div>
          <!-- main-cta -->
          </div>
          <div class="col-xs-6 col-sm-3">
            <%= render 'layouts/account' %>
          </div>
        <% else %>
        <div class="banner col-xs-12 col-sm-12">
          <div class="brand">
            <a href="/editor">
              <img src="<%= image_path('dashboardlogo.svg') %>" alt="Logo of GOV.AU Performance Editor"/>
            </a>
          </div>
        <!-- main-cta -->
        </div>
        <% end %>
      </div>
      <!-- banner -->
    </header>
  </div>
</div>
