<div class="govau-header-row" role="banner">
  <div class="wrapper">
    <header class="govau-masthead">
      <div class="banner col-sm-9">
        <div class="brand">
          <a href="/">
            <img src="../../../client/src/editor/images/dashboardlogo.svg" alt="Logo of GOV.AU Performance Editor" height="30px" />
          </a>
        </div>
        <!-- main-cta -->
      </div>
      <div class="col-sm-3">
        <%= render 'layouts/account' %>
      </div>
      <!-- banner -->
    </header>
  </div>
</div>
