<div class="phase-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <span>This is a working alpha and has limited functionality. To provide feedback, email us at <a href="mailto:<%= ApplicationConstants::CONTACT_EMAIL %>" rel="external" class="UIK-link"><%= ApplicationConstants::CONTACT_EMAIL %></a></span>
      </div>
    </div>
  </div>
</div>
