.app-login {

  form {
    margin-bottom: $spacer-y;
  }


  .form-ctas {
    margin-bottom: 2em;
  }

  .sub-link-list {
    li {
      margin-bottom: 6px;
    }
  }


  // todo - improve
  .qrcode {
    p {
      margin-bottom: 30px;
    }

    img {
      height: 125px;
      margin-bottom: 30px;
    }
  }
}


