@each $metric, $color in $metrics {
  &.#{$metric} {
    .widget__title {
      @media(min-width: $screen-sm){
        border-bottom: 2px solid $color;
      }
    }

    .fa-circle {
      color: $color;
    }
  }

  .widget {
    &.#{$metric} {
      .widget__title::before {
        content: '\f111';
        font-family: 'fontawesome';
        padding-right: 10px;
        color: $color;
      }
    }
  }
}

.dashboard__kpis {
  background-color: $white;
  padding-top: 10px;
  margin-bottom: 0;

  @media(min-width: $screen-sm ) {
    padding-top: 0;
    margin-bottom: 15px;
  }

  .widget__definition,
  .widget__data-source,
  .widget__last-updated {
    display: none;
  }

  .widget {
    min-height: 0;
    height: auto;
    width: 100%;
    padding: 5px 0;
    margin: 0;

    @media(min-width: $screen-sm) {
      border: 0;
      box-shadow: none;
      padding: 0;
      margin: 15px 0 0 0;
      min-height: 0;
      height: auto;
      display: block;
      padding-top: 7.5px;
    }

    @media(min-width: $screen-sm) {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }

    .row {
      margin-left: 0;
    }

    .widget__inner {
      margin-top: 3px;
      position: relative;

      @media (min-width: $screen-sm) {
        padding: 0;
        margin-top: 0;
        width: 100%;
      }

      .sparkline {

        @media (min-width: $screen-sm) {
          max-width: 100%;
          display:block;
        }
      }
    }

    &.has-data-false {
      min-height: 0;

      @media(min-width: $screen-sm) {
        height: 150px;
      }
    }

    .widget__title {
      height: 35px;
      padding: 0;
      text-align: left;

      @media(min-width: $screen-sm) {
        padding: 0 $spacing-unit / 2;
        height: 40px;
        width: 100%;
        text-align: center;
      }

      @media(min-width: $screen-md){
        margin-bottom: 22px;
        height: 50px;
      }

      &::before {
        display: inline-block;
        content: '\f111';
        font-family: 'fontawesome';
        padding-right: 10px;
        float: left;

        @media(min-width: $screen-sm) {
          display: none;
        }
      }

      h2 {
        font-size: 1em;
        line-height: 1;
        display: inline;

        @media(min-width: $screen-sm){
          font-size: 1rem;
          line-height: 1;
        }

        @media(min-width: $screen-md){
          font-size: 1.25rem;
        }
      }
    }

    .sparkline__inner {
      float: none;

      &.no-data {
        .metric-data {
          .decorator {
            display: none;
          }
          
          .value {
            @media(min-width: $screen-sm) {
              font-size: 48px;
              font-size: 3rem;
            }

            @media(min-width: $screen-md) {
              font-size: 48px;
              font-size: 3rem;
            }
          }
        }
      }

      .metric-data {
        font-weight: 700;
        justify-content: flex-end;
        letter-spacing: 0.5px;

        @media(min-width: $screen-sm){
          justify-content: center;
        }

        .value {
          font-weight: 700;
          font-size: 14.4px;

          @media(min-width: $screen-sm){
            font-size: 45px;
            font-size: 2.8125rem;
            font-weight: 300;
          }

          @media(min-width: $screen-md){ //TODO make font sizes into a mixin to prevent repartition
            font-size: 4.7 * $fallback;
            font-size: 4.7rem;
          }
        }

        .decorator {
          flex-direction: row-reverse;
          font-size: 1rem;
          line-height: 1;

          @media(min-width: $screen-sm){
            flex-direction: column;
          }
        }
      }

      .metric-meta {
        display: none;

        @media(min-width: $screen-sm){
          display: block;
        }

        .metric-trend {
          @media(min-width: $screen-sm){
            margin-right: 5px;
            display: inline-block;
          }
        }
      }

      .chart {
        display: block;
      }
    }

    .sparkline__inner {
      @media(min-width: $screen-sm) {
        float: none;
      }

      .chart {
        @media(min-width: $screen-sm) {
          display: block;
        }
      }
    }

    .summary-text {
      display: none;

      @media(min-width: $screen-sm) {
        display: inline-block !important;
      }
    }

    .widget__title,
    .widget__inner,
    .metric-data {
      .value,
      .sparkline {
        display: table-cell;

        @media(min-width: $screen-sm){
          display: block;
        }
      }
    }
  }

  .chart {
    display: none;
  }

  @media(min-width: $screen-sm) {
    .chart {
      display: block;
    }
  }

  .widget {
    border: 0;
    box-shadow: none;
  }

  .widget__title {
    padding: 0;

    h4 {
      font-weight: 600;
    }
  }

  .widget__inner {
    .sparkline__inner {
      .chart {
        display: none;

        @media(min-width: $screen-sm) {
          display: block;
        }
      }
    }
  }
}

.chart__wrapper {
  width:100%;
}

.card__right {
  &.dashboard__kpis {
    .col-xs-12 {
      padding-left: 0;
      padding-right: 0;

      @media (min-width: $screen-sm) {
        padding-right: 15px;
      }
    }
  }
}

@media (min-width: $screen-sm) {
  .card__right {
    &.dashboard__kpis {
      .col-md-3:first-child {
        padding-left: 0;
      }

      .col-md-3:last-child {
        padding-right: 0;
      }

      .widget__title {
        padding: 0;
      }
    }
  }
}
