<script type="text/javascript">
  window.__STATE__ = <%== render(template: "/editor/index.json.jbuilder") %>;
</script>
<div id="editor_index"></div>
<script>
  <%
    # Insert skeleton screen with JavaScript, so that if JavaScript is disabled
    # the user won't see this HTML and will only see the interstitial.
   %>
  document.getElementById('editor_index').innerHTML +=
    '<div>' +
      '<div style="background:#e6fafc;height:150px;"></div>' +
      '<div class="container">' +
        '<img src="<%= image_path('editor-skeleton-2.png') %>" width="1110" height="190" />' +
      '</div>' +
    '</div>';
</script>
