
  <div class="dashboard__kpis">
    <div class="row">
      <% dashboard.first_row.each do |widget| %>
        <%= render :partial => 'kpi-widget', :locals => {:widget => widget.decorate} %>
      <% end %>
    </div>
  </div>
