.card__link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
}

.card {
  border-left: 6px solid $charcoal-grey;
  box-shadow: $card-box-shadow;
  background-image: linear-gradient(to bottom, $card-grey-colour, $light-grey);
  margin: 0 0 $spacing-unit 0;
  display: block;
  position: relative;
  padding: 10px 10px 10px 10px;
  color: $black;

  @media (min-width: $screen-sm) {
    min-height: 140px;
    padding: $gutter $gutter 10px 25px;
  }

  h3 {
    line-height: 1.2;
    margin: $gutter 0;

    @media (min-width: $screen-sm) {
      font-size: 30px;
      font-size: 1.875rem;
    }
  }

  a {
    &.card__link__visible {
      font-weight: 600;
      text-decoration: underline;
      display: inline;
      width: 127px;
      position: relative;
      top: 8px;

      @media(min-width: $screen-md) {
        position: absolute;
        bottom: 8px;
        top: auto;
      }

      &:visited {
        color: $brand-primary-colour;
      }

      &:hover {
        background-color: $govau-aqua;
        color: $white;
      }
    }
  }

  .updated-at {
    color: $secondary-text-colour;
    clear: both;

    @media (min-width: $screen-md){
      padding-bottom: 30px;
    }
  }

  .main-kpi {
    padding-bottom: 0;
  }
}

.card__left {
  padding-bottom: 20px;
  border-bottom: 1px $axis-stroke-colour solid;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $screen-sm) {
    width: 100%;
    justify-content: space-between;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media (min-width: $screen-md) {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
  }

  .card__link__visible {
    @media (min-width: $screen-sm) {
      padding-bottom: 15px;
    }
  }
}

.card__right {
  padding-left: 0;
  padding-right: 0;
  
  .widget {
    background: transparent;
    padding: 0;
    margin: 0;

    &.has-data-false {
      .metric-data {
        .value {
          font-size: 2 * $fallback;
          font-size: 1rem;
        }
      }
    }

    .widget__title {
      padding: 0;
      height: 35px;

      h4 {
        line-height: 1;
        font-size: $fallback;
        font-size: 1rem;
        margin: 3px 0 0 0;
      }
    }

    .metric-data {
      .value {
        font-size: 3.75 * $fallback;
        font-size: 3.75rem;
      }

      .decorator {
        font-size: $fallback;
        font-size: 1rem;
      }
    }
  }

  .metric-trend,
  .summary-text {
    font-size: 12px;
  }

  &.dashboard__kpis {
    background: transparent;
  }

  @media (min-width: $screen-md) {
    width: 70%;
    float: left;

    .widget__inner {
      .sparkline__inner {
        .chart {
          margin: 5px 10px;
        }
      }
    }

    &.dashboard__kpis {
      .widget__title {
        height: 35px;
      }
    }

    .widget {
      padding: 0;
      margin: 0;

      &.has-data-false {
        .metric-data {
          .value {
            font-size: 2 * $fallback;
            font-size: 2rem;
          }
        }
      }

      .metric-data {
        .value {
          font-size: 3.75 * $fallback;
          font-size: 3.75rem;
        }
      }

      .widget__title {
        h4 {
          line-height: 1;
          font-size: $fallback;
          font-size: 1rem;
          margin-top: 16px;
        }
      }
    }
  }

  &.dashboard__kpis {
    .widget {
      @media (min-width: $screen-sm){
        border: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
        min-height: 0;
        height: auto;
        display: block;
      }

      .widget__title {
        @media (min-width: $screen-sm){
          height: 35px;
          width: 100%;
          text-align: center;
        }

        svg {
          @media (min-width: $screen-sm){
            display: none;
          }
        }

        h4 {
          @media (min-width: $screen-sm){
            line-height: 1;
            font-size: 16px;
            font-size: 1rem;
          }
        }
      }

      .sparkline__inner {
        @media (min-width: $screen-sm){
          float: none;
        }

        .chart {
          @media (min-width: $screen-sm){
            display: block;
          }
        }
      }

      .widget__inner {
        @media (min-width: $screen-sm){
          position: relative;
          padding:0;
          width: 100%;
        }

        .sparkline {
          @media (min-width: $screen-sm){
            max-width: 100%;
            display:block;
          }
        }
      }

      .decorator {
        @media (min-width: $screen-sm){
          flex-direction: column;
        }
      }

      .metric-meta {
        @media (min-width: $screen-sm){
          display: block;
        }

        .metric-trend {
          @media (min-width: $screen-sm){
            margin-right: 5px;
            display: inline-block;
          }
        }
      }

      .summary-text {
        @media (min-width: $screen-sm){
          display: inline-block;
        }
      }
    }

    .metric-data {
      @media (min-width: $screen-sm){
        display: flex;
      }

      .decorator {
        @media (min-width: $screen-sm){
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          font-size: 1.2rem;
        }
      }

      .value {
        @media (min-width: $screen-sm){
          font-size: 45px;
          font-size: 2.8125rem;
          font-weight: 300;
        }
      }
    }
  }
}
