.page-dashboardwidgets {
  .widget-list {

  }

  .widget-list__item {
    padding: $vertical-unit 0;
    border-top: 1px solid $color-line-border;
  }

  &__title-block {
    margin-bottom: $vertical-unit;
  }
}

%widget {
  content: 'widget';
}

.widget-list__item {
  .widget--fact {
    @extend %widget;
    border: 1px solid green;
  }

  .widget--default {
    @extend %widget;
    border: 1px solid red;
  }

  .desc-title {
    display: block;
    font-weight: $font-weight-bold;
  }

  .last-updated {
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  &__title {
    @media (min-width:$screen-md) {
      float:left;
    }
  }

  &__ancillary {
    @media (min-width:$screen-md) {
      text-align: right;
    }
  }
}
