.page-dashboardwidgets {
  .widget-list {

  }

  .widget-list__item {
    padding: $spacer-y 0;
    border-bottom: 1px solid $color-line-border;
  }

  &__title-block {
    margin-bottom: $spacer-y;
  }

  &__bookend-ctas {
    @include clearfix;
    padding: $spacer-y*2 0 $spacer-y;

    .btn {
      display: inline-block;
      float: left;
      margin-bottom:0;
    }
  }
}


.widget-list {
}

.widget-list__item {
  .desc-title {
    display: block;
    font-weight: $DB-font-weight-bold;
  }

  .date-meta {
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  header {
    .title {
      @media (min-width:$screen-md) {
        float:left;
      }
      h1 {
        margin:0;
      }
    }

    .ancillary {
      @media (min-width:$screen-md) {
        text-align: right;
      }
    }
  }

  .preview {
    padding: $spacer $spacer+.2;
    background-color: $color-background-blue;
  }

  .preview-table {
    display: table;
    width: 100%;

    .key,
    .description,
    .value {
      display: table-cell;
      vertical-align: middle;
    }

    .key {
      width: 32px;
      padding-top: 2px;
    }

    .value {
      text-align: right;
      font-weight: $DB-font-weight-bold;
    }
  }
}
