$dashboard-constants: (
  // color palette
  COLOR_CERULEAN: #0579c7,
  COLOR_PALE_BLUE: #e6fafc,

  COLOR_LIGHT_GREY: #828282,

  COLOR_GROUP_LEGEND_A: #f2b038,
  COLOR_GROUP_LEGEND_B: #75a370,
  COLOR_GROUP_LEGEND_C: #4892c0,
  COLOR_GROUP_LEGEND_D: #7066a5,
  COLOR_GROUP_LEGEND_E: #40bdac,

  // breakpoints
  SCREEN_MIN: 320px
);

/**
  * Accessor for Application constants.
  * @usage:
    var-get('color_header_bg');
  *
 */
@function get($const) {
  @return map-get($dashboard-constants, $const)
}


// semantic colors
$color-brand-primary: get(COLOR_CERULEAN) !default;
$color-brand-supp: #00a1bb !default;
$color-line-border: #ccc !default;
$color-background-blue: get(COLOR_PALE_BLUE) !default;

$color-text-grey: get(COLOR_LIGHT_GREY) !default;

$color-user-satisfaction: get(COLOR_GROUP_LEGEND_A);
$color-cost-per-transaction: get(COLOR_GROUP_LEGEND_B);
$color-digital-take-up: get(COLOR_GROUP_LEGEND_C);
$color-completion-rate: get(COLOR_GROUP_LEGEND_D);
