<% if !Rails.env.production? && current_user.present? -%>
  <span class="sign-out">
    <i class="fa fa-user" aria-hidden="true"></i><span>&nbsp;<%= current_user.email%></span>
    <%= link_to 'Sign out', destroy_user_session_path, class: "sign-out-link" %>
  </span>
<% end %>
