<% if current_user.present? -%>
  <span style="color:white; float:right;">
    <%= current_user.email %>
    |
    <%= link_to 'Sign out', destroy_user_session_path, style: 'color:white' %>
  </span>
<% end %>
